@page
@model SkillTrackerApp.Pages.Profile.CreateAccountModel
@{
    ViewData["Title"] = "Create Account";
}

<link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
<div class="page-content">
    <section class="py-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 text-center rounded-3" style="background-color: #4CAF50;">
                        <h1 class="m-0">Account</h1>
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dots mb-0">
                                    <li class="breadcrumb-item"><a href="/Index">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Create Account</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-success text-white">

                <div class="modal-body">
                    @Model.SuccessMessage
                </div>
            </div>
        </div>
    </div>

    <!-- Page main content START -->
    <section class="pt-4">
        <div class="container">
            <div class="card bg-transparent border rounded-3">
                <div class="card-header bg-transparent border-bottom">
                    <h3 class="card-header-title d-flex justify-content-center mb-0">Register User Profile</h3>
                </div>
                <!-- Card body START -->
                <div class="card-body">
                    <!-- Form -->
                    <form class="row g-4" method="post" asp-page="CreateAccount" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.EmailAddress)

                        <!-- Email Address (Uneditable) -->
                        <div class="col-12">
                            <label class="form-label">Email Address</label>
                            <input asp-for="@Model.createAccount.EmailAddress" class="form-control" value="@Model.EmailAddress" readonly>
                            <span asp-validation-for="@Model.createAccount.EmailAddress" class="text-danger"></span>
                        </div>

                        <!-- First Name -->
                        <div class="col-md-6">
                            <label class="form-label">First Name</label>
                            <input asp-for="@Model.createAccount.FirstName" type="text" maxlength="15" class="form-control" placeholder="First Name" autocomplete="off">
                            <span asp-validation-for="@Model.createAccount.FirstName" class="text-danger"></span>
                        </div>

                        <!-- Last Name -->
                        <div class="col-md-6">
                            <label class="form-label">Last Name</label>
                            <input asp-for="@Model.createAccount.LastName" class="form-control" type="text" maxlength="15" placeholder="Last Name" autocomplete="off">
                            <span asp-validation-for="@Model.createAccount.LastName" class="text-danger"></span>
                        </div>

                        <!-- Date of Birth -->
                        <div class="col-12">
                            <label class="form-label">Date of Birth</label>
                            <input asp-for="@Model.createAccount.DateOfBirth" id="dateInput" class="form-control" type="date" value="2015-01-01" max="2015-01-01" autocomplete="off">
                            <span asp-validation-for="@Model.createAccount.DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="d-sm-flex justify-content-end">
                            <button type="submit" class="btn btn-success mb-2 mb-sm-0">Register</button>
                        </div>
                    </form>
                </div>
                <!-- Card body END -->
            </div>
            <!-- Edit profile END -->
        </div>
    </section><br />
</div>
<br />
<script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <script>
        $(document).ready(function () {
            $("#successModal").modal("show");
            setTimeout(function () {
                $("#successModal").modal("hide");
            }, 1000);
        });
    </script>
}